<?xml version="1.0" encoding="utf-8"?>
<launch>

    <arg name="laser_enabled"           value="true"/>
    <arg name="laser_scan_min_height"   value="-0.2"/>
    <arg name="laser_scan_max_height"   value="1.0"/>
    
    <include file = "$(find smb_gazebo)/launch/smb_gazebo.launch">
        <arg name="laser_enabled"           value="$(arg laser_enabled)"/>
        <arg name="laser_scan_min_height"   value="$(arg laser_scan_min_height)"/>
        <arg name="laser_scan_max_height"   value="$(arg laser_scan_max_height)"/>
    </include> 
    
    <node name="smb_to_pillar" pkg="smb_to_pillar" type="smb_to_pillar_node" output="screen">
        <rosparam command="load" file="$(find smb_to_pillar)/config/smb_to_pillar.yaml"/>
    </node>
</launch>
