<?xml version="1.0" encoding="utf-8"?>
<launch>
    
    <node name="static_broadcaster_tf2" pkg="static_broadcaster_tf2" type="static_broadcaster_tf2" args="ninja_turtle 0 1 0
    0 -60 0" output="screen" />
    
    <node name="link1_broadcaster_tf2" pkg="tf2_ros" type="static_transform_publisher" args="1 0 0 -90 0 0 link1_parent link1_child"
     output="screen" /> 
     
     <node name="leonardo_static_broadcast" pkg="static_broadcaster_tf2" type="static_broadcaster_tf2" output="screen">
        <rosparam command="load" file="$(find static_broadcaster_tf2)/config/static_broadcast.yaml"/>
     </node>
     
     <node name="raphael_static_broadcast" pkg="static_broadcaster_tf2" type="static_broadcaster_tf2" output="screen">
        <param name="turtle_name" value="turtle_raphael" type="string" />
        <param name = "pose_x"      value = "0.0"    type = "double" />
        <param name = "pose_y"      value = "3.0"    type = "double" />
        <param name = "pose_z"      value = "0.0"    type = "double" />
        <param name = "pose_rx"     value = "-90.0"  type = "double" />
        <param name = "pose_ry"     value = "0.0"    type = "double" />
        <param name = "pose_rz"     value = "0.0"    type = "double" />
     </node>
  
</launch>


